@import '../../components/SCSSInstruments/variables.scss';
@import '../../components/SCSSInstruments/extends.scss';

.title-workpage {
   @extend %d-f-sb;

   .edit-wrapper {
      padding: calc($index / 3) 0;
      background: $clr-green;
      border-radius: calc($index / 2);
      @extend %d-f-c;
      cursor: pointer;
      width: calc($index * 5);
   
      &>span {
         font-size: calc($index / 1.25);
         font-weight: 700;
         color: #fff;
         pointer-events: none;
         margin: 0 calc($index / 4) 0 0;
      }
      .svg-container {
         position: relative;
         width: calc($index / 1.5);
         height: calc($index / 1.5);
         pointer-events: none;
   
         &>svg {top: calc($index / -14);}
      }
   }
}

.todos-wrapper {
   max-width: 100vw;
   margin: calc($index * 2) 0 0;
   padding: 0 $index 0;
   width: 100%;
}