@import '../../../../SCSSInstruments/variables.scss';
@import '../../../../SCSSInstruments/extends.scss';

:root {
   --current-color: #E74C3C;
}

.item-note-container {
   display: grid;
   // grid-template: 1fr / 5fr repeat(4, 2fr) calc($index);
   grid-template: 1fr / 8fr 1fr repeat(2, 2fr) 1fr 2fr $index;
   padding: 0 calc($index * 2);
   box-shadow: 0 0 3px #505050;
   border-radius: calc($index / 2);
   margin: 0 0 calc($index / 2) 0;
   transition: .2s;
   height: calc($index * 2.5);
   @extend %d-f-c;

   .title-container {width: 95%;}
   .set-date-wrapper {
      width: 100%;
      @extend %d-f-c;

      .set-date-container {width: calc($index * 5);}
   }
   .title-container, .set-date-container {
      height: $index;
      position: relative;

      input {
         position: absolute;
         width: 100%;
         height: 100%;
         font-weight: 700;
         font-size: calc($index / 1.25);
      }
   }

   .edit-wrapper {
      padding: calc($index / 3) 0;
      background: $clr-green;
      border-radius: calc($index / 2);
      @extend %d-f-c;
      cursor: pointer;

      &>span {
         font-size: calc($index / 1.5);
         font-weight: 700;
         color: #fff;
         pointer-events: none;
         margin: 0 calc($index / 4) 0 0;
      }
      .svg-container {
         position: relative;
         width: calc($index / 1.5);
         height: calc($index / 1.5);
         pointer-events: none;

         &>svg {top: calc($index / -14);}
      }
   }

   .status {
      .colored-button {
         background: #E74C3C;
         color: #fff;
         font-weight: 700;
         font-size: calc($index / 1.5);
         padding: calc($index / 3) calc($index / 1.5);
         border-radius: calc($index / 2);
      }
   }

   .priority-wrapper {
      padding: calc($index / 4);
      @extend %d-f-c;
      
      .priority-container {
         width: calc($index * 1.5);
         height: calc($index * 1.5);
         border-radius: 50%;
         box-shadow: 0 0 3px #505050;
         @extend %d-f-c;
         transition: .1s;
         
         .svg-container {
            pointer-events: none;
            height: 75%;
            width: 75%;
            position: relative;

            &>svg {
               top: 0;
               left: 0;
               position: absolute;
               object-fit: cover;
               width: 100%;
               height: 100%;
   
               &>path {fill: var(--current-color);}
            }
         }

         &:hover {box-shadow: 0 0 6px #111;}
      }
   }

   .progress {
      @extend %d-f-c;
      
      .svg-container {
         width: calc($index * 1.5);
         height: calc($index * 1.5);
         margin: 0 calc($index / 2) 0 0;
         position: relative;

         svg {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
         }
      }

      &>span {
         font-size: calc($index / 1.25);
         font-weight: 700;
         text-align: center;
      }
   }

   .item-note-span {
      font-weight: 700;
      text-align: center;
      &:first-child {text-align: start;}
      &:last-child {text-align: end;}

      .svg-container {
         position: relative;
         width: $index;
         height: $index;
         margin: auto 0 auto auto;

         &>svg {
            top: 0;
            left: 0;
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            pointer-events: none;
         }
      }
   }

   &:hover {box-shadow: 0 0 3px #505050, 3px 3px 6px #505050;}
}